<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
<h2>Register</h2>
<form th:action="@{/registration}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="email">email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="roles">roles:</label>
        <input type="roles" id="roles" name="roles" required>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
